tqdm
numpy==1.26.3
pandas==1.3.5
matplotlib==3.5.3
scipy==1.11.4
scikit-learn==1.4.0
torch==1.12.1
gym==0.22.0
wandb==0.13.2
proplot
tensorboard==2.10.0
fastai==2.7.10
h5py
jupyterlab
ipywidgets=8.1.2